@import url('https://fonts.googleapis.com/css?family=Quicksand');

// -- Variables
$main-font: Quicksand, sans-serif;
$green: #008a00;
$gray: #a8a8a8;

// -- Utilities
.playing {
    color: $green;
    font-weight: bold;
}


// -- Main Styling
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: $main-font;
}

#trackbar {
    position: fixed;
    width: 100%;
    height: 15px;
    background: #222;

    .trackbar-inner {
        width: 0%;
        background: $green;
        height: 12px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        .end-point {
            height: 100%;
            width: 10px;
            background: white;
            border-radius: 5px;
        }
    }

    .progress {
        -webkit-appearance: none;
        margin: 0;
        position: absolute;
        width: 100%;
        opacity: 0;
      }
      .progress:focus {
        outline: none;
      }
      .progress::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
        cursor: pointer;
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        background: #3071a9;
        border-radius: 1.3px;
        border: 0.2px solid #010101;
        margin-top: -12px;
      }
      .progress::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        border: 1px solid #000000;
        height: 15px;
        width: 14px;
        border-radius: 3px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -15px;
        margin-left: -12px;
      }
      .progress:focus::-webkit-slider-runnable-track {
        background: #367ebd;
      }


}


#app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
    height: 100vh;

    .play-info {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;

        .img-container {
            width: 90%;
            img {
                width: 100%;
            }
        }


        .app-name {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: bold;
        }

        .main-button {
            background: $green;
            margin: 1rem 0;
            color: #fff;
            width: 170px;
            height: 50px;
            border: none;
            outline: none;
            border-radius: 50px;
            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }
        }
    }

    .playlist {
        grid-column: 2 / span 2;
        overflow-y: scroll;

        &-item {
            list-style: none;
            display: flex;
            padding: 1rem;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                opacity: 0.9;
                background: $green;
                color: #fff !important;
            }

            .song-info {
                display: flex;
                justify-content: space-between;
                width: 100%;

                div {
                    margin-left: 1rem;
                }
            }
        }
    }
}